body {
  font-family: "Martel", serif;
  font-size: 30px;
  background-color: #0e0c0b;
}

// Mobile View
@media (max-width: 576px) {
  // Navbar
  nav {
    .navbar-brand {
      font-size: 20px !important;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 20px !important;

          &:hover {
            border-bottom: none !important;
          }

          &.active {
            border-bottom: none !important;
          }
        }
      }
    }
  }

  // Header
  header {
    .background {
      margin-top: 0 !important;
      height: 350px !important;
    }

    .header-slogan {
      font-size: 20px !important;
      padding: 100px 20px 0px 20px !important;
    }

    .btn-checkout {
      font-size: 16px !important;
      position: unset !important;
      transform: translate(0, 0) !important;
      padding: 20px !important;
    }
  }

  // Section Profile
  .section-my-profile {
    h2 {
      font-size: 40px !important;
    }

    hr {
      width: 200px !important;
    }

    .profile {
      padding: 0 20px !important;
      max-width: 100% !important;
    }

    .name {
      padding: 0 20px !important;
      font-size: 30px !important;
      margin-top: 20px !important;
    }

    p {
      padding: 0 20px !important;
      font-size: 16px !important;
    }

    .btn-my-work {
      width: 100% !important;
      display: block;
      text-align: center !important;
      margin-bottom: 15px !important;
      font-size: 16px !important;
    }

    .btn-my-cv {
      display: block;
      text-align: center !important;
      font-size: 16px !important;
    }
  }

  // Section Service
  .section-service {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: 200px !important;
    }

    .card {
      padding: 20px 0 !important;
      opacity: 1 !important;
      margin-bottom: 20px !important;
      min-height: fit-content !important;

      &:hover {
        box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
          -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
      }

      .card-img {
        margin-bottom: 20px !important;
        width: 180px !important;
        height: 180px !important;
      }

      .card-body {
        .card-title {
          font-size: 22px !important;
        }

        .card-text {
          font-size: 18px !important;
          padding: none !important;
          opacity: 1 !important;
          transform: translateY(0) !important;
        }
      }
    }
  }

  // Section Process
  .section-process {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: 290px !important;
    }

    .card {
      padding: 20px 0 !important;
      opacity: 1 !important;
      margin-bottom: 20px !important;
      margin-top: 0 !important;
      min-height: fit-content !important;

      &:hover {
        box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
          -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
      }

      .card-img {
        margin-bottom: 20px !important;
        width: 180px !important;
        height: 180px !important;
      }

      .card-body {
        .card-title {
          font-size: 22px !important;
        }

        .card-text {
          font-size: 18px !important;
          padding: none !important;
          opacity: 1 !important;
          transform: translateY(0) !important;
        }
      }
    }
  }

  // Testimonials
  .section-testimonials {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: 280px !important;
    }

    .carousel {
      box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
        -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
      border-radius: 10px;
      padding: 85px 0;
      color: #fff;

      .carousel-item-prev {
        position: relative;
      }

      .carousel-item-next {
        position: relative;
      }

      .carousel-item {
        position: relative;
        display: block !important;
        opacity: 0;

        &.active {
          display: block;
          opacity: 1;
          transition: -webkit-transform 0.6s ease-in-out;
          transition: transform 0.6s ease-in-out;
          transition: transform 0.6s ease-in-out,
            -webkit-transform 0.6s ease-in-out;
        }

        .testi {
          margin-right: auto !important;
          margin-left: auto !important;
          margin-bottom: 20px !important;
          display: block;
          border-radius: 50%;
          border: 1px #fff solid;
          width: 120px !important;
          height: 120px !important;
        }

        .carousel-text {
          padding: 15px !important;
          text-align: center;
          margin-right: 0px !important;

          .name {
            font-size: 40px !important;
            text-align: center;
            display: block;
          }

          .quote {
            font-size: 20px !important;
          }

          hr {
            border: none !important;
          }

          .year {
            font-size: 30px !important;
          }
        }
      }
    }
  }

  // Section Portofolio
  .section-portofolio {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: auto !important;
    }

    .nav-pills {
      justify-content: left !important;
      margin: 0 0 120px 0 !important;

      .nav-item {
        .nav-link {
          padding: 10px !important;
          margin: 0px !important;
          font-size: 11px !important;
          &.active {
            border-bottom: none !important;
          }
          &:hover {
            border-bottom: none !important;
          }
        }
      }
    }

    .card {
      margin-top: -100px !important;
    }

    .btn-load-more {
      img {
        width: 40px !important;
      }
      font-size: 20px !important;
    }
  }

  // Section Skills
  .section-skills {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: auto !important;
    }

    img {
      width: 32px !important;
      height: 32px !important;
    }

    h3 {
      font-size: 20px !important;
    }

    .progress {
      margin-bottom: 20px !important;
    }
  }

  // Section Contact
  .section-contact {
    .title {
      font-size: 40px !important;
    }

    .sub-title {
      font-size: 20px !important;
    }

    hr {
      width: auto !important;
    }

    .col-sm-6 {
      padding: 20px 20px !important;
      box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
        -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
      margin-bottom: 30px;
      .label {
        text-align: center !important;
        font-size: 18px !important;
      }

      .sub-label {
        text-align: center !important;
        font-size: 18px !important;
      }

      .btn-send-message {
        font-size: 20px !important;
      }

      .list-unstyled {
        color: #fff;

        h3 {
          font-size: 18px !important;
        }

        img {
          width: 25px !important;
          height: 25px !important;
          margin-right: 10px !important;
        }
      }
    }
  }

  // Section Detail
  .section-detail {
    .title {
      font-size: 20px !important;
    }

    .gallery {
      .xzoom-gallery {
        max-width: 80px !important;
        max-height: 50px !important;
      }
    }

    .detail-website {
      .card {
        .title {
          font-size: 20px !important;
        }

        .description {
          font-size: 16px !important;
        }
      }
    }

    .card {
      margin-bottom: 30px !important;

      .title {
        font-size: 20px !important;
      }

      p {
        font-size: 18px !important;
      }

      img {
        width: 32px !important;
        height: 32px !important;
      }
    }

    .clients {
      .title {
        font-size: 20px !important;
      }

      .testimonials {
        display: block !important;

        img {
          width: 60px !important;
          height: 60px !important;
          margin-right: 15px;
        }

        .coment {
          p {
            font-size: 14px !important;
          }
        }
      }

      .rating {
        img {
          height: 20px !important;
          width: 20px !important;
          margin-right: 5px !important;
        }
      }
    }
  }

  // Footer
  footer {
    line-height: 1 !important;
    text-align: center;

    hr {
      border: 1px #03e88e solid;
    }

    .container-fluid {
      h2 {
        font-size: 30px !important;
      }

      .list-unstyled {
        margin-top: 10px !important;

        a {
          font-size: 16px !important;

          &:hover {
            color: #03e88e;
          }
        }

        img {
          max-width: 32px;
          max-height: 32px;
          margin-right: 10px !important;
        }

        h3 {
          color: #fff;
          font-size: 14px !important;
          font-weight: regular;
          font-family: "Martel", serif;
        }
      }

      i {
        font-size: 32px !important;
        margin-right: 5px !important;
      }
    }

    .copyright {
      font-size: 12px !important;
    }
  }
}

//Navbar
nav {
  background-color: transparent;

  .fa-bars {
    color: #03e88e;
    font-size: 24px;
  }

  .navbar-brand {
    color: #fff !important;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 32px;
    font-weight: bold;
    transition: ease 0.5s;

    &:hover {
      color: #03e88e !important;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #fff !important;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-weight: bold;
        margin-right: 30px;

        &:hover {
          border-bottom: 3px #03e88e solid;
          color: #03e88e !important;
          transition: 0.3s;
        }

        &.active {
          border-bottom: 3px #03e88e solid;
          color: #03e88e !important;
        }
      }
    }
  }
}

// Breadcrumb
.breadcrumb {
  background-color: #3e3c3c;
  border-radius: 0;
  font-size: 14px;

  .breadcrumb-item {
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #03e88e;
      }
    }

    &.active {
      color: #03e88e;
      font-weight: bold;
    }
  }
}

// Header
header {
  align-items: center;

  .background {
    height: 600px;
    background-image: url("../images/background.png");
    background-size: cover;
    margin-top: -100px;
  }

  .header-slogan {
    color: #fff;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-top: 200px;
  }

  .btn-checkout {
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    top: 50%;
    background-color: #03e88e;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px 0 15px 0;
    position: absolute;
    transform: translate(-50%, -25%);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      background-color: #0e0c0b;
      border-radius: 15px 0 15px 0;
      transition: 0.5s ease-in-out;
    }

    &:hover::before {
      left: 0;
      z-index: -1;
    }

    &:hover {
      color: #03e88e;
      box-shadow: 0 0 5px #0e0c0b, 0 0 25px #0e0c0b, 0 0 50px #0e0c0b,
        0 0 200px #0e0c0b;
    }
  }
}

// Section Profile
.section-my-profile {
  margin-top: 70px;

  .title {
    text-align: center;
    color: #03e88e;
    font-size: 60px;
  }

  hr {
    width: 320px;
    border: 3px #03e88e solid;
    margin-bottom: 50px;
  }

  .name {
    font-size: 40px;
    font-weight: bold;
    color: #9b8151;
  }

  p {
    color: #fff;
    font-family: "Martel", serif;
    font-size: 30px;
    margin-bottom: 50px;
  }

  img {
    .profile {
      width: 100%;
    }
  }

  .btn-my-work {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    font-size: 30px;
    background: #03e88e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px 0 15px 0;
    transition: 0.5s;
    margin-right: 50px;

    &:hover {
      text-decoration: none;
      background-color: transparent;
      border: 1px #03e88e solid;
      color: #03e88e;
    }
  }

  .btn-my-cv {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    font-size: 30px;
    background: transparent;
    color: #03e88e;
    border: 1px #03e88e solid;
    padding: 10px 20px;
    border-radius: 15px 0 15px 0;
    transition: 0.5s;

    &:hover {
      text-decoration: none;
      background-color: #03e88e;
      color: #fff;
    }
  }
}

// Section Service
.section-service {
  margin-top: 50px;

  .title {
    font-family: "Martel", serif;
    font-size: 60px;
    color: #03e88e;
    text-align: center;
  }

  .sub-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  hr {
    border: 3px #03e88e solid;
    width: 320px;
    margin-bottom: 50px;
  }

  .card {
    background-color: transparent;
    color: #fff;
    padding: 10px 48px;
    opacity: 0.5;
    border: none;
    min-height: 550px;

    &:hover {
      box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
        -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
      opacity: 1;
      cursor: pointer;

      .card-text {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.5s;
      }
    }

    .card-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      max-height: 256px;
      max-width: 256px;
    }

    .card-title {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }

    .card-text {
      padding: 10px;
      transform: translateY(-100px);
      opacity: 0;
      text-align: center;
      font-style: regular;
      font-size: 20px;
    }
  }
}

// Section Process
.section-process {
  margin-top: 50px;

  .title {
    font-family: "Martel", serif;
    font-size: 60px;
    color: #03e88e;
    text-align: center;
  }

  .sub-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  hr {
    border: 3px #03e88e solid;
    width: 320px;
    margin-bottom: 50px;
  }

  .card {
    background-color: transparent;
    color: #fff;
    margin-top: 50px;
    opacity: 0.5;
    border: none;
    min-height: 400px;
    padding-top: 20px;

    &:hover {
      opacity: 1;
      cursor: pointer;
      box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
        -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);

      .card-text {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.5s;
      }
    }

    .card-img {
      max-width: 190px;
      max-height: 190px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .card-title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .card-text {
      transform: translateY(-100px);
      opacity: 0;
      font-size: 20px;
      padding: 10px;
      font-style: regular;
      text-align: center;
    }
  }
}

// Section Testimonials
.section-testimonials {
  margin-top: 50px;

  .title {
    font-family: "Martel", serif;
    font-size: 60px;
    color: #03e88e;
    text-align: center;
  }

  .sub-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  hr {
    border: 3px #03e88e solid;
    width: 320px;
    margin-bottom: 50px;
  }

  .carousel {
    box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
      -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
    border-radius: 10px;
    padding: 85px 0;
    color: #fff;

    .carousel-item-prev {
      position: relative;
    }

    .carousel-item-next {
      position: relative;
    }

    .carousel-item {
      position: relative;
      display: flex;
      opacity: 0;

      &.active {
        display: flex;
        opacity: 1;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out,
          -webkit-transform 0.6s ease-in-out;
      }

      .testi {
        margin-left: 150px;
        border-radius: 50%;
        border: 1px #fff solid;
        width: 315px;
        height: 315px;
      }

      .carousel-text {
        padding: 0 50px;
        margin-right: 70px;

        .name {
          color: #9b8151;
          font-weight: bold;
          font-size: 60px;
        }

        .quote {
          font-weight: regular;
          font-size: 40px;
        }

        hr {
          border: 2px #03e88e solid;
          width: 100%;
        }

        .year {
          font-size: 40px;
          color: #9b8151;
          font-weight: bold;
        }
      }
    }
  }
}

// Section Portofolio
.section-portofolio {
  margin-top: 50px;

  .title {
    text-align: center;
    color: #03e88e;
    font-size: 60px;
    font-weight: bold;
  }

  .sub-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }

  hr {
    border: 3px #03e88e solid;
    width: 650px;
    margin-bottom: 50px;
  }

  .nav-pills {
    justify-content: center;
    margin-bottom: 100px;

    .nav-item {
      .nav-link {
        color: #fff;
        margin: 0 10px;
        font-size: 20px;

        &.active {
          background: none;
          color: #03e88e;
          border-bottom: #03e88e solid;
        }

        &:hover {
          color: #03e88e;
          border-bottom: #03e88e solid;
        }
      }
    }
  }

  .tab-content {
    .col {
      padding: 0px;
    }

    .card {
      background: none;
      border: none;
      margin: 0px;
      cursor: pointer;
      margin-top: -40px;

      &:hover {
        .card-img {
          opacity: 0.2;
        }

        .card-body {
          opacity: 1;
          background-color: #0e0c0b;
          transform: translateY(-100%);
          border-radius: 0 0 10px 10px;
          z-index: -1;
        }
      }

      .card-img {
        height: 317px;
        border: 1px #03e88e solid;
        border-radius: 0 0 10px 10px;
      }

      .card-body {
        opacity: 0;
        color: #03e88e;
        background-color: none;
        transition: 0.5s;

        .card-title {
          font-size: 25px;
        }

        .card-text {
          font-size: 20px;
        }
      }
    }
  }

  .btn-load-more {
    color: #fff;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: block;
    transition: 0.5s;
    margin-top: -50px;

    img {
      width: 64px;
      margin-right: 10px;
      transition: 0.5s;
    }

    &:hover {
      color: #03e88e;

      img {
        transform: rotate(180deg);
      }
    }
  }
}

// Section Skills
.section-skills {
  margin-top: 50px;
  .title {
    color: #03e88e;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  .sub-title {
    color: #fff;
    font-size: 40px;
    text-align: center;
  }

  hr {
    border: 3px #03e88e solid;
    width: 500px;
    margin-bottom: 50px;
  }

  img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }

  h3 {
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
  }

  .progress {
    margin-bottom: 50px;
    .progress-bar {
      background-color: #03e88e;
      color: #0e0c0b;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

// Section Contact
.section-contact {
  margin-top: 50px;
  .title {
    font-size: 60px;
    font-family: "Martel", serif;
    font-weight: bold;
    text-align: center;
    color: #03e88e;
  }

  .sub-title {
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  hr {
    width: 600px;
    border: 3px #03e88e solid;
    margin-bottom: 50px;
  }

  .label {
    color: #03e88e;
    font-size: 30px;
    font-weight: bold;
  }

  .sub-label {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
  }

  .form-control {
    font-size: 20px;
    padding: 10px 10px;
  }

  .btn-send-message {
    display: block;
    font-size: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    background: #03e88e;
    color: #fff;
    transition: 0.5s;

    &:hover {
      background-color: transparent;
      border: 1px #03e88e solid;
      color: #03e88e;
    }
  }

  .label-line {
    border: 3px #03e88e solid;
    width: auto;
    margin-bottom: 20px;
  }

  .list-unstyled {
    color: #fff;
    img {
      width: 32px;
      height: 32px;
      margin-right: 20px;
    }
  }
}

// Section Detail
.section-detail {
  .title {
    color: #03e88e;
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0px;
  }
  .gallery {
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        max-height: 580px;
        box-shadow: none;
        margin-bottom: 10px;
      }

      .xactive {
        border: 4px solid #00c177;
        box-shadow: none;
      }

      .xzoom-gallery {
        max-width: 206px;
        max-height: 150px;
      }
    }
  }

  .detail-website {
    margin-top: 30px;

    .card {
      padding: 30px;

      .title {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .description {
        font-size: 20px;
      }
    }
  }

  .card {
    background: transparent;
    padding: 20px;
    box-shadow: 9px 9px 9px 0 rgba($color: #000000, $alpha: 1),
      -9px -9px 9px 0 rgba($color: #fff, $alpha: 0.03);
    margin-bottom: 50px;

    .title {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 40px;
      color: #03e88e;
      font-weight: bold;
      border-bottom: 3px #03e88e solid;
    }

    p {
      color: #fff;
      font-size: 30px;
      margin-bottom: 20px;
    }

    img {
      width: 64px;
      height: 64px;
      margin-bottom: 20px;
    }
  }

  .clients {
    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .testimonials {
      display: flex;
      img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
      }

      .coment {
        h2 {
          color: #9b8151;
          font-size: 20px;
          font-weight: bold;
        }

        p {
          color: #fff;
          font-size: 13px;
        }
      }
    }

    .rating {
      img {
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }
    }
  }
}

// Footer
footer {
  margin-top: 100px;

  hr {
    border: 1px #03e88e solid;
  }

  .container-fluid {
    padding-left: 50px;

    h2 {
      color: #9b8151;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 40px;
      font-weight: bold;
      margin-top: 30px;
    }

    .list-unstyled {
      margin-top: 20px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 30px;

        &:hover {
          color: #03e88e;
        }
      }

      img {
        max-width: 32px;
        max-height: 32px;
        margin-right: 20px;
      }

      h3 {
        color: #fff;
        font-size: 30px;
        font-weight: regular;
        font-family: "Martel", serif;
      }
    }

    i {
      color: #03e88e;
      font-size: 64px;
      margin-right: 20px;

      &:hover {
        color: #fff;
      }
    }
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: regular;
    font-family: "Martel", serif;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
